.footer {
  position: relative;
  height: 192px;

  .footer__bg_stripes {
    max-width: $content-width;
    height: 100%;
    margin: auto;
    @include background-stripes();
    z-index: 1;
    
    .footer__bg_color {
      @include flex();
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      background: $color-background-footer;
      mix-blend-mode: multiply;
      z-index: 2;
      
      .footer-form {
        width: 440px;
        height: 60px;
        border-radius: 30px;
        @include background-stripes($deg: 0deg);
      }
    }
  }
}

