.footer {
  position: relative;
  height: 192px;

  .footer__bg_stripes {
    max-width: $content-width;
    height: 192px;
    margin: auto;
    @include background-stripes();
    @include media-desktop {
      height: 160px;
    }
    @include media-tablet {
      max-width: $content-width-tablet;
      @include background-stripes($deg: 90deg, $color1-start: 0px, $color1-finish: 40px, $color2-start: 40px, $color2-finish: 60px);
    }
    @include media-mobile {
      max-width: $content-width-mobile;
      @include background-stripes($deg: 90deg, $color1-start: 0px, $color1-finish: 65px, $color2-start: 65px, $color2-finish: 85px);
    }

    .footer__bg_color {
      @include flex();
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      background: $color-background-footer;
      mix-blend-mode: multiply;
      z-index: 2;
      
      .footer-form {
        width: 440px;
        height: 60px;
        border-radius: 30px;
        @include background-stripes($deg: 0deg);
        @include media-desktop {
          width: 400px;
          height: 50px;
        }
        @include media-tablet {
          width: 360px;
          height: 40px;
        }
        @include media-mobile {
          width: 280px;
        }
      }
    }
  }
}

