:root {
  --color-plus-grey: #a1a3a5;
  --color-border-grey: #dee2e6;
  --color-text-dark: #212529;
  --color-background-white: #fff;
  --color-border-active-blue: #0dcaf0;
}

.wrapper-accordion {
  padding-top: 1000px;
  position: relative;
  z-index: -1;

  .wrapper {
    height: 120vh;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    margin-left: 40px;
  }
}

.wrapper-accordion__header {
  position: absolute;
  top: 0;
  width: 1000px;
  text-align: center;
  left: calc(50% - (1000px / 2));
  text-transform: uppercase;
  color: $color-heading;
}

.wrapper-accordion__rotate {
  @include flex($flow: column nowrap);
  position: absolute;
  top: 0;
  z-index: -1;
  width: 50%;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform-origin: center center;
  transform: translate(-50%, -50%) rotate(-90deg);
  @include media-tablet {
    transform: rotate(0deg);
    padding: 100px 0;
  }
}

.accordion {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;

  &:first-child {
    border-top: 1px solid var(--color-border-grey);
  }
}

.accordion__title {
  position: relative;
  @include flex($justify: flex-start);
  gap: 10px;
  font-size: 22px;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid var(--color-border-grey);
  border-top: none;
  color: var(--color-text-dark);
  background-color: var(--color-background-white);
  @extend %transition;
  overflow: hidden;
  z-index: 2;

  &.active {
    background: $color-main;
  }
}

.accordion__title-bg {
  position: absolute;
  width: 100%;
  height: 650px;
  z-index: -1;
  transform: rotate(90deg);
  @extend %transition;
  
  &_img-1 {
    background: url('../assets/images/img-1.png') no-repeat center center;
    background-size: cover;
    .accordion__title_1.active & {
      background: $color-main;
    }
  }
  &_img-2 {
    background: url('../assets/images/img-2.jpg') no-repeat center center;
    background-size: cover;
    .accordion__title_2.active & {
      background: $color-main;
    }
  }
  &_img-3 {
    background: url('../assets/images/img-3.png') no-repeat center center;
    background-size: cover;
    .accordion__title_3.active & {
      background: $color-main;
    }
  }
  &_img-4 {
    background: url('../assets/images/img-4.jpg') no-repeat center center;
    background-size: cover;
    .accordion__title_4.active & {
      background: $color-main;
    }
  }
  &_img-5 {
    background: url('../assets/images/img-5.jpg') no-repeat center center;
    background-size: cover;
    .accordion__title_5.active & {
      background: $color-main;
    }
  }
  &_img-6 {
    background: url('../assets/images/img-6.jpg') no-repeat center center;
    background-size: cover;
    .accordion__title_6.active & {
      background: $color-main;
    }
  }
}

.tab {

  .tab__number {
    color: $color-light;
    display: block;
    text-align: center;
    background-color: transparent;
    font-size: 4rem;
    font-weight: 400;
    transform: rotate(90deg);
  }
}

.accordion__content {
  position: relative;
  font-size: 20px;
  line-height: 1.3;
  overflow: hidden;
  box-sizing: content-box;
  border: 1px solid var(--color-border-grey);
  border-top: none;
  height: 0px;
  opacity: 0;
  visibility: hidden;
  transition: height 0.5s ease-out, padding 0.5s ease-out, opacity 0.1s ease-out 0.5s, visibility 0.1s ease-out 0.5s;

  &.active {
    visibility: visible;
    opacity: 1;
    padding: 20px;
    transition: height 0.5s ease-out, padding 0.5s ease-out, opacity 0.1s ease-out, visibility 0.1s ease-out;
  }

  .accordion__content-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 45%;
    backdrop-filter: brightness(0.4);
    filter: blur(10px);
  }

}

.accordion__content-tab {
  position: absolute;
  right: -30px;
  top: -60px;
  color: $color-light;
  font-weight: 400;
  font-size: 20rem;
  writing-mode: vertical-lr;
  user-select: none;
  opacity: 0;
  @extend %transition;

  .accordion__content.active & {
    opacity: 0.2;
  }
}

.accordion__content-bg {
  position: absolute;
  width: 100%;
  height: 650px;
  left: 0;
  top: -30px;
  z-index: -1;
  transform: rotate(90deg);
  @extend %transition;

  &_1 {
    background: url('../assets/images/img-1.png') no-repeat center center;
    background-size: cover;
  }
  &_2 {
    background: url('../assets/images/img-2.jpg') no-repeat center center;
    background-size: cover;
  }
  &_3 {
    background: url('../assets/images/img-3.png') no-repeat center center;
    background-size: cover;
  }
  &_4 {
    background: url('../assets/images/img-4.jpg') no-repeat center center;
    background-size: cover;
  }
  &_5 {
    background: url('../assets/images/img-5.jpg') no-repeat center center;
    background-size: cover;
  }
  &_6 {
    background: url('../assets/images/img-6.jpg') no-repeat center center;
    background-size: cover;
  }
}

.accordion__content-info {
  color: $color-light;
  opacity: 0;
  @extend %transition;
  position: absolute;
  top: 70px;
  left: 20px;
  transform-origin: center;
  transform: rotate(90deg);


  .accordion__content.active & {
    opacity: 1;
  }

  h5, 
  p {
    margin: 6px 0;
  }
}