.wrapper-accordion {
  height: 900px;
  width: 100vw;
  z-index: 0;
  display: none;
  opacity: 0;
  
  body.show-other-events & {
    display: block;
    @include fade-in-animation($delay: 0.6s, $duration: 0.6s);
  }

  @include media-desktop {
    height: 630px;
  }
  @include media-tablet {
    padding: 0 1% 70px 2%;
    height: 950px;
  }
}

.wrapper-accordion__header {
  text-align: center;
  text-transform: uppercase;
  color: $color-heading;
  margin: 40px 0;
}


.wrapper-accordion__rotate {
  @include flex($flow: column nowrap);
  width: 560px;
  overflow: hidden;
  transform-origin: center;
  transform: translate(104%, -23%) rotate(-90deg);
  box-shadow: $block-shadow;
  
  @media (max-width: $content-width) {
    transform-origin: left;
    transform: translate(50vw, 4%) rotate(-90deg);
  }
  @include media-desktop {
    width: 400px;
  }
  @include media-tablet {
    transform: rotate(0deg);
    width: 100%;
  }

}

.accordion {
  display: flex;
  flex-direction: column;
  width: 560px;
  cursor: pointer;
  background: $color-main;
  z-index: 0;
  overflow: hidden;

  &.active {
    pointer-events: none;
  }

  @include media-desktop {
    width: 400px;
  }
  @include media-tablet {
    width: 100%;
  }
}

.accordion__title {
  position: relative;
  @include flex($justify: flex-start);
  gap: 10px;
  padding: 10px 20px;
  border: 1px solid $color-border-accordion;
  border-top: none;
  @extend %transition_5;
  z-index: 1;
  background: linear-gradient(90deg, $color-main, transparent);

  @include media-desktop {
    padding: 2px 10px;
  }
  @include media-tablet {
    padding: 10px 20px;
  }
}

.tab {

  .tab__number {
    color: $color-light;
    font-size: 4rem;
    font-weight: 400;
    transform: rotate(90deg);

    @include media-desktop {
      font-size: 3rem;
    }
    @include media-tablet {
      transform: rotate(0deg);
      font-size: 2rem;
    }
    @include media-mobile {
      font-size: 1.6rem;
    }
  }
}

.accordion__content {
  position: relative;
  font-size: 20px;
  line-height: 1.3;
  box-sizing: content-box;
  border: 1px solid $color-border-accordion;
  border-top: none;
  height: 0px;
  @extend %transition_5;


  .accordion__content-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 45%;
    backdrop-filter: brightness(0.4);
    filter: blur(10px);

    @include media-tablet {
      top: auto;
      bottom: 0;
      height: 40%;
    }
  }

}

.accordion__content-tab {
  position: absolute;
  right: -30px;
  top: 0px;
  opacity: 0.2;
  height: 0;
  overflow: hidden;
  @extend %transition_5;

  @include media-tablet {
    bottom: 0;
    top: auto;
  }

  .accordion.active & {
    height: 180px;
  }

  h4 {
    color: $color-light;
    font-weight: 400;
    font-size: 20rem;
    writing-mode: vertical-lr;
    transform: translateY(-65px);

    @include media-desktop {
      font-size: 15rem;
      transform: translateY(-50px);
    }
    @include media-tablet {
      writing-mode: horizontal-tb;
      transform: none;
    }
  }
}

.accordion__content-bg {
  position: absolute;
  left: 0;
  top: -82px;
  width: 100%;
  height: 560px;
  z-index: -1;
  transform: rotate(90deg);
  @extend %transition_5;

  .accordion.active & {
    top: 0;
  }

  @include media-desktop {
    top: -85px;
    height: 400px;
  }
  @include media-tablet {
    transform: rotate(0deg);
  }

  &_1 {
    background: url('../assets/images/img-1.png') no-repeat center center;
    background-size: cover;
  }
  &_2 {
    background: url('../assets/images/img-2.jpg') no-repeat center center;
    background-size: cover;
  }
  &_3 {
    background: url('../assets/images/img-3.png') no-repeat center center;
    background-size: cover;
  }
  &_4 {
    background: url('../assets/images/img-4.jpg') no-repeat center center;
    background-size: cover;
  }
  &_5 {
    background: url('../assets/images/img-5.jpg') no-repeat center center;
    background-size: cover;
  }
  &_6 {
    background: url('../assets/images/img-6.jpg') no-repeat center center;
    background-size: cover;
  }
}

.accordion__content-info {
  position: absolute;
  top: 70px;
  left: -130px;
  transform: rotate(90deg);
  transform-origin: center center;
  color: $color-light;
  transition: all .2s ease-in-out .3s;
  text-align: left;

  @include media-desktop {
    font-size: 1.6rem;
    top: 46px;
  }
  @include media-tablet {
    transform: rotate(0deg);
    top: auto;
    bottom: 30px;
  }

  .accordion.active & {
    left: 0px;
    @include media-tablet {
      left: 25px;
    }
  }

  h5, 
  p {
    margin: 14px 0;

    @include media-desktop {
      max-width: 160px;
    }
  }
}

.button_accordion {
  .accordion.active & {
    pointer-events: all;
  }
  @include media-desktop {
    font-size: 1.2rem;
  }
}