.button {
  @extend %transition;
  @include font-primary($color: $color-light, $size: 1.8rem);
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }
}

.button_oval {
  @extend %button-oval;
}

.button_accordion {
  padding: 5px 10px;
  border: 1px solid $color-light;
  border-left: 4px solid $color-light;
}