.form {
  @include flex($justify: space-between, $flow: row nowrap);
  width: 440px;
  height: 60px;
  background: transparent;
  border-radius: 30px;
  
  .form__input {
    background: transparent;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 30px;
    padding: 0px 12px;

    &_button {
      width: 47px;
      height: 43px;
      border-radius: 100%;
      background: $color-form-button;
      margin-right: 10px;
    }
  }
}