.form {
  position: relative;
  @include flex($justify: space-between, $flow: row nowrap);
  width: 440px;
  height: 60px;
  border-radius: 30px;
  background: $color-light;
  @extend %transition;
  @include media-desktop {
    width: 400px;
    height: 50px;
  }
  @include media-tablet {
    width: 360px;
    height: 40px;
  }
  @include media-mobile {
    width: 280px;
  }

  &.error {
    box-shadow: 0 0 20px $color-error inset;

    .form__error-message {
      opacity: 1;
      top: -70px;
      @include media-tablet {
        top: -60px;
      }
    }
  }
  
  .form__input {
    font-size: 1.8rem;
    background: transparent;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 30px;
    padding: 0px 12px;
    @include media-tablet {
      font-size: 1.4rem;
    }

    &_button {
      width: 47px;
      height: 43px;
      border-radius: 100%;
      background: $color-form-button;
      margin-right: 10px;
      @include media-desktop {
        width: 40px;
        height: 40px;
        margin-right: 5px;
      }
      @include media-tablet {
        width: 34px;
        height: 34px;
        margin-right: 5px;
        font-size: 1.4rem;
      }
    }
  }

  .form__error-message {
    @extend %transition;
    opacity: 0;
    position: absolute;
    max-width: 400px;
    top: 0px;
    left: calc(50% - (400px / 2));
    text-align: center;
    color: $color-light;
    z-index: -1;
    @include media-tablet {
      font-size: 1.4rem;
    }
    @include media-mobile {
      max-width: 300px;
      left: calc(50% - (300px / 2));
    }
  }
}