.go-to-event {
  @include flex($flow: column nowrap);
  padding-bottom: 50px;
  opacity: 0;
  
  body.initial-animation & {
    @include fade-in-animation($delay: 1.8s);
  }
  @include media-mobile {
    padding-top: 20px;
  }

  .go-to-event__comment {
    color: $color-text-additionary;
    font-size: 1.8rem;
    @include media-tablet {
      font-size: 1.6rem;
    }
  }

  .go-to-event__button {
    mix-blend-mode: multiply;
    gap: 15px;
  }
}