.logo {
  position: relative;
  @include flex();
  padding-top: 60px;
  z-index: 2;

  .logo__img {
    width: 60px;
    height: 60px;
    margin-right: 16px;
    @include media-mobile {
      width: 40px;
      height: 70px;
      margin-right: 6px;
    }
  }
  
  .logo__name {
    width: 114px;
    height: 47px;
    filter: $logo-filter;
    @extend %transition;
    &:hover {
      filter: none;
    }

    @include media-tablet {
      filter: none;
      &:hover {
        filter: $logo-filter;
      }
    }
    @include media-mobile {
      width: 76px;
      height: 31px;
    }
  }
}