$popup-width: 320px;
$popup-height: 370px;

.popup {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #29292999;
  top: 0;
  left: 0;
  z-index: 3;

  &_open {
    opacity: 1;
    visibility: visible;
  }
}

.popup__body {
  position: absolute;
  width: $popup-width;
  height: $popup-height;
  left: calc(50vw - ($popup-width / 2));
  top: -50vh;
  transition: all 0.3s ease-in-out;
  background: #ffffff;
  padding: 10px 0 30px;
  border: 2px solid $color-border-popup;
  border-radius: 2px;
  @include flex($flow: column nowrap);
  z-index: 1;

  .popup_open & {
    top: calc(50vh - ($popup-height / 2));
    box-shadow: $section-shadow;
  }

  .popup__bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    margin: auto;
    @include background-stripes();
    mix-blend-mode: multiply;
    @include media-tablet {
      max-width: $content-width-tablet;
      @include background-stripes($deg: 90deg, $color1-start: 0px, $color1-finish: 40px, $color2-start: 40px, $color2-finish: 60px);
    }
  }
}

.popup__content {
  height: 100%;
  @include flex($justify: center, $flow: column nowrap);
  text-align: center;
  font-size: 1.6rem;
  gap: 10px;
  padding-bottom: 50px;

  .popup__header {
    text-transform: uppercase;
  }

  .popup__message {
    color: $color-text-additionary;
    margin: 0 3%;
  }
}

.popup__close-button_secondary {
  position: absolute;
  top:10px;
  right: 10px;
  color: $color-text-additionary;
  font-size: 5rem;
  line-height: 5rem;
  background: transparent;
}

.popup__close-button_main {
  position: absolute;
  bottom: 30px;
  width: 184px;
  left: calc(43% - (184px / 2));
  mix-blend-mode: multiply;
}
