.promo {

  .promo__heading {
    margin-top: 90px;
    line-height: 6rem;
    text-transform: uppercase;
  }

  .promo__slogan {
    font-size: 1.8rem;
    max-width: 420px;
    margin: 16px auto 0;
    color: $color-text-additionary;
  }
}