$color-main: #162C4E;
$color-main-transparent-popup: #162C4E99; // opacity 0.6
$color-background-stripes: #F5F5F5;
$color-background-body: #FFFFFF;
$color-background-footer: #162C4E;
$color-light: #ffffff;
$color-text-primary: #162C4E;
$color-text-additionary: rgba(0, 0, 0, 0.8);
$color-heading: #162c4e63; // opacity 0.39
$color-form-button: #DF2224;
$color-bg-button-event: #1D4169;
$color-error: red;
$color-border-popup: rgba(19, 89, 120, 0.07);
$section-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);

$content-width: 1700px;