$color-main: #162C4E;
$color-main-transparent-popup: #162C4E99; // opacity 0.6
$color-background-stripes: #F5F5F5;
$color-background-body: #FFFFFF;
$color-background-footer: #162C4E;
$color-light: #ffffff;
$color-text-primary: #162C4E;
$color-text-additionary: rgba(0, 0, 0, 0.8);
$color-heading: #162c4e63; // opacity 0.39
$color-form-button: #DF2224;
$color-bg-button-event: #1D4169;

$content-width: 1700px;