%transition {
  transition: all .3s ease-in-out;
}

%button-oval {
  @include flex($justify: space-around, $align: center);
  min-width: 240px;
  height: 60px;
  border-radius: 30px;
  padding: 12px 28px;
  background: $color-bg-button-event;
  color: $color-light;
}
