%transition {
  transition: all .3s ease-in-out;
}

%transition_5 {
  transition: all .5s ease-in-out;
}

%button-oval {
  @include flex($justify: space-around, $align: center);
  min-width: 240px;
  height: 60px;
  border-radius: 30px;
  padding: 12px 28px;
  background: $color-bg-button-event;
  color: $color-light;
}

%scrollbar {
  overflow-y: auto;
  overflow-x: auto;
  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  &::-webkit-scrollbar-track {
    @include scrollbar($color: $color-bg-scrollbar, $br-radius: 0px);
  }

  &::-webkit-scrollbar-thumb {
    @include scrollbar($color: $color-main, $br-radius: 0px);
  }
}
