html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  overflow-y: overlay;
  @include font-primary();
  background-color: $color-background-body;
  position: relative;
  height: 100vh;
  @include flex($justify: flex-start, $align: inherit, $flow: column nowrap);
  max-width: $landing-width;
  margin: auto;
}

h1 {
  @include font-primary(7.2rem, 700, $color-heading);
  display: inline-block;
  margin: 0;
  @include media-desktop {
    font-size: 5.5rem;
  }
  @include media-tablet {
    font-size: 3.6rem;
  }
}

h2 {
  @include font-primary(7.2rem, 600, $color-text-primary);
  @include media-desktop {
    font-size: 5.5rem;
  }
  @include media-tablet {
    font-size: 3.6rem;
  }
}

h3 {
  @include font-primary(3.6rem, 700, $color-text-primary);
  margin: 0;
}

h4 {
  @include font-primary(3.2rem, 600, $color-light);
  margin: 0;
  @include media-desktop {
    font-size: 2.2rem;
  }
}

h5 {
  @include font-primary(1.8rem, 600, $color-light);
  margin: 0;
  @include media-desktop {
    font-size: 1.5rem;
  }
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
  &:focus {
    outline: none;
  }
}

li {
  list-style-type: none;
}
